## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"] )
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 100  # Adjust the cutoff value as needed
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 10  # Adjust the cutoff value as needed
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [11]:
application_df_encoded.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'APPLICATION_TYPE_T9',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C1230', 'CLASSIFICATION_C1238', 'CLASSIFICATION_C1240',
       'CLASSIFICATION_C1250', 'CLASSIFICATION_C1270', 'CLASSIFICATION_C1278',
       'CLASSIFICATION_C1280', 'CLASSIFICATION_C1300', 'CLASSIFICATION_C1400',
       'CLASSIFICATION_C1500', 'CLASSIFICATION_C1700', 'CLASSIFICATION_C1800',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C2300',
       'CLASSIFICATION_C2700', 'CLASSIFICATION_C2800', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_C4000', 'CLASSIFICATION_C5000', 'CLASSIFICATION_C6000',
       'CLASSIFICATION_C7000', 'CLASSIFICATION_C7100', 'CLASSIFICATION_C7120',
       'CLASSIFICATION_C7200', 'CLASSIFICATION_C8000', 'CLASSIFICATION_C8200',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [12]:
# Split our preprocessed data into features and target arrays
X = application_df_encoded.drop(columns=["IS_SUCCESSFUL"]).values
y = application_df_encoded["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu', 'tanh', 'softmax'])

    # Define input shape based on the number of features
    input_shape = (X_train_scaled.shape[1],)

    # First hidden layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                                    min_value=1,
                                                    max_value=50,
                                                    step=5), activation=activation, input_shape=input_shape))

    # Allow kerastuner to decide the number of hidden layers, with a maximum of 3
    for i in range(hp.Int('num_layers', 1, 3)):
        # Allow kerastuner to decide the number of units in each hidden layer, with a maximum of 100
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                                        min_value=1,
                                                        max_value=50,
                                                        step=5),
                                            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [15]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.4.7)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (24.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2024.2.2)

In [16]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=30,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [17]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=30,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 03m 24s]
val_accuracy: 0.7269970774650574

Best val_accuracy So Far: 0.7289795875549316
Total elapsed time: 01h 55m 19s

In [18]:
 # Get top 3 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'relu', 'first_units': 31, 'num_layers': 2, 'units_0': 51, 'units_1': 11, 'units_2': 6, 'tuner/epochs': 60, 'tuner/initial_epoch': 20, 'tuner/bracket': 3, 'tuner/round': 3, 'tuner/trial_id': '0049'}
{'activation': 'relu', 'first_units': 31, 'num_layers': 3, 'units_0': 11, 'units_1': 61, 'units_2': 6, 'tuner/epochs': 60, 'tuner/initial_epoch': 20, 'tuner/bracket': 3, 'tuner/round': 3, 'tuner/trial_id': '0047'}
{'activation': 'relu', 'first_units': 41, 'num_layers': 3, 'units_0': 51, 'units_1': 11, 'units_2': 66, 'tuner/epochs': 60, 'tuner/initial_epoch': 20, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0165'}

In [19]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(5)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5528 - accuracy: 0.7290 - 931ms/epoch - 3ms/step
Loss: 0.552803635597229, Accuracy: 0.7289795875549316
268/268 - 1s - loss: 0.5549 - accuracy: 0.7289 - 1s/epoch - 5ms/step
Loss: 0.5548734664916992, Accuracy: 0.728863000869751
268/268 - 2s - loss: 0.5534 - accuracy: 0.7286 - 2s/epoch - 9ms/step
Loss: 0.5533984303474426, Accuracy: 0.7286297082901001
268/268 - 1s - loss: 0.5542 - accuracy: 0.7286 - 1s/epoch - 5ms/step
Loss: 0.5541747808456421, Accuracy: 0.7286297082901001
268/268 - 1s - loss: 0.5556 - accuracy: 0.7285 - 1s/epoch - 5ms/step
Loss: 0.5555909276008606, Accuracy: 0.7285131216049194

In [20]:
best_hyperparameters = tuner.get_best_hyperparameters(3)
for idx, hyperparameters in enumerate(best_hyperparameters, 1):
    print(f"Rank {idx} Hyperparameters:")
    print(hyperparameters.values)
    print()

Rank 1 Hyperparameters:
{'activation': 'relu', 'first_units': 31, 'num_layers': 2, 'units_0': 51, 'units_1': 11, 'units_2': 6, 'tuner/epochs': 60, 'tuner/initial_epoch': 20, 'tuner/bracket': 3, 'tuner/round': 3, 'tuner/trial_id': '0049'}

Rank 2 Hyperparameters:
{'activation': 'relu', 'first_units': 31, 'num_layers': 3, 'units_0': 11, 'units_1': 61, 'units_2': 6, 'tuner/epochs': 60, 'tuner/initial_epoch': 20, 'tuner/bracket': 3, 'tuner/round': 3, 'tuner/trial_id': '0047'}

Rank 3 Hyperparameters:
{'activation': 'relu', 'first_units': 41, 'num_layers': 3, 'units_0': 51, 'units_1': 11, 'units_2': 66, 'tuner/epochs': 60, 'tuner/initial_epoch': 20, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0165'}

## Compile, Train and Evaluate the Model

In [21]:
# Define a function to create a model based on hyperparameters
def create_model(hyperparameters):
    activation = hyperparameters['activation']
    units = [hyperparameters[f'units_{i}'] for i in range(hyperparameters['num_layers'])]

    model = tf.keras.models.Sequential()
    model.add(tf.keras.layers.Dense(units=hyperparameters['first_units'], activation=activation, input_dim=input_features))
    for i in range(hyperparameters['num_layers']-1):
        model.add(tf.keras.layers.Dense(units=hyperparameters[f'units_{i}'], activation=activation))
    model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
    model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    return model

# Define the number of input features
input_features = len(X_train[0])

# Lists to store training and testing results
training_results = []
testing_results = []

# Loop through each set of hyperparameters and train the model
for idx, hyperparameters in enumerate(best_hyperparameters, 1):
    print(f"Training model with hyperparameters from rank {idx}:")
    print(f"  Activation: {hyperparameters['activation']}")
    print(f"  Hidden Layers Units: {', '.join(str(hyperparameters[f'units_{i}']) for i in range(hyperparameters['num_layers']))}")

    # Create model
    model = create_model(hyperparameters)

    # Compile the model
    model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

    # Train model
    model.fit(X_train_scaled, y_train, epochs=hyperparameters['tuner/epochs'], verbose=0)

    # Evaluate the model on training data
    train_loss, train_accuracy = model.evaluate(X_train_scaled, y_train, verbose=0)
    training_results.append((train_loss, train_accuracy))
    print(f"  Rank {idx} Training Loss: {train_loss}, Accuracy: {train_accuracy}")

    # Evaluate the model on testing data
    test_loss, test_accuracy = model.evaluate(X_test_scaled, y_test, verbose=0)
    testing_results.append((test_loss, test_accuracy))
    print(f"  Rank {idx} Testing Loss: {test_loss}, Accuracy: {test_accuracy}\n")

# Print overall training and testing results
print("Overall Training Results:")
for idx, (loss, accuracy) in enumerate(training_results, 1):
    print(f"Rank {idx} Training Loss: {loss}, Accuracy: {accuracy}")

print("\nOverall Testing Results:")
for idx, (loss, accuracy) in enumerate(testing_results, 1):
    print(f"Rank {idx} Testing Loss: {loss}, Accuracy: {accuracy}")

Training model with hyperparameters from rank 1:
  Activation: relu
  Hidden Layers Units: 51, 11
  Rank 1 Training Loss: 0.528185248374939, Accuracy: 0.7450240850448608
  Rank 1 Testing Loss: 0.5581831336021423, Accuracy: 0.7248979806900024

Training model with hyperparameters from rank 2:
  Activation: relu
  Hidden Layers Units: 11, 61, 6
  Rank 2 Training Loss: 0.5295195579528809, Accuracy: 0.7438578605651855
  Rank 2 Testing Loss: 0.5606818795204163, Accuracy: 0.7253644466400146

Training model with hyperparameters from rank 3:
  Activation: relu
  Hidden Layers Units: 51, 11, 66
  Rank 3 Training Loss: 0.5256784558296204, Accuracy: 0.7451795935630798
  Rank 3 Testing Loss: 0.5590088367462158, Accuracy: 0.7265306115150452

Overall Training Results:
Rank 1 Training Loss: 0.528185248374939, Accuracy: 0.7450240850448608
Rank 2 Training Loss: 0.5295195579528809, Accuracy: 0.7438578605651855
Rank 3 Training Loss: 0.5256784558296204, Accuracy: 0.7451795935630798

Overall Testing Results:
Rank 1 Testing Loss: 0.5581831336021423, Accuracy: 0.7248979806900024
Rank 2 Testing Loss: 0.5606818795204163, Accuracy: 0.7253644466400146
Rank 3 Testing Loss: 0.5590088367462158, Accuracy: 0.7265306115150452

In [22]:
# Export our model to HDF5 file
model.save("AlphabetSoupCharity_Optimization2.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(